.hero_container {
  display: flex;
}

.hero_left {
  width: 40vmax;
  height: 100vh;
  background: linear-gradient(100deg, var(--primary-color) 39vmax, #f8faff 11.05vmax);
  color: white;
  display: flex;
  gap: 14rem;
  flex-direction: column;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13rem;
    width: 80%;
  }

  .logo {
    font-size: 50px;
    margin: 1rem;
    max-inline-size: 6rem;
  }

  h1 {
    text-align: center;
    font-size: 4rem;
  }

  .social_icons_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    svg {
      font-size: 2rem;
    }
  }
}
